Sync Shopify Customers to Odoo
{
  "name": "Sync New Shopify Customers to Odoo Contacts",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.existing }}"
            }
          ]
        }
      },
      "id": "ae072919-4f88-4722-b139-2628e24b89ba",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "position": [
        1008,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "res.partner",
        "operation": "getAll",
        "limit": 1,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "email",
              "value": "={{ $('Shopify Trigger').item.json.email }}"
            }
          ]
        }
      },
      "id": "a36747d5-3381-43b8-9def-e3dbc8942dbd",
      "name": "Search Odoo Contact",
      "type": "n8n-nodes-base.odoo",
      "position": [
        640,
        240
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "topic": "customers/create"
      },
      "id": "a52d6acf-e8c2-48cd-b44c-903617c23e9e",
      "name": "Shopify Trigger",
      "type": "n8n-nodes-base.shopifyTrigger",
      "position": [
        368,
        240
      ],
      "webhookId": "30b89f06-e54c-4461-9e1e-9ef7f221e08b",
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "res.partner",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "name",
              "fieldValue": "={{ $('Shopify Trigger').item.json.addresses[0].name }}"
            },
            {
              "fieldName": "email",
              "fieldValue": "={{ $('Shopify Trigger').item.json.email }}"
            },
            {
              "fieldName": "street",
              "fieldValue": "={{ $('Shopify Trigger').item.json.addresses[0].address1 }}"
            },
            {
              "fieldName": "street2",
              "fieldValue": "={{ $('Shopify Trigger').item.json.addresses[0].address2 }}"
            },
            {
              "fieldName": "city",
              "fieldValue": "={{ $('Shopify Trigger').item.json.addresses[0].city }}"
            },
            {
              "fieldName": "zip",
              "fieldValue": "={{ $('Shopify Trigger').item.json.addresses[0].zip }}"
            },
            {
              "fieldName": "phone",
              "fieldValue": "={{ $('Shopify Trigger').item.json.addresses[0].phone }}"
            }
          ]
        }
      },
      "id": "f3023805-dc0b-4745-ab7b-77b2d81137e3",
      "name": "Create Contact",
      "type": "n8n-nodes-base.odoo",
      "position": [
        1200,
        240
      ],
      "typeVersion": 1,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\n\nvar contact_detail = $('Shopify Trigger').item.json\nconsole.log('-------contact_detail--------',contact_detail)\nvar existing_contact = $('Search Odoo Contact').item.json\nconsole.log('-------existing_contact--------',existing_contact,existing_contact.valueOf)\nreturn {existing:existing_contact.id ? true:false,contact_detail:contact_detail}\n"
      },
      "id": "4cef59ef-0ba4-4eee-83b6-27254ffd5974",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        832,
        240
      ],
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Create Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopify Trigger": {
      "main": [
        [
          {
            "node": "Search Odoo Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Odoo Contact": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d6e1f39c-32d7-47c9-951e-6a980a68a608",
  "meta": {
    "templateId": "3818",
    "instanceId": "cb9321053b06292d05c096042df1b59ce077eee5726ca7d1a8db5a8ae54a583b"
  },
  "id": "vAqGTaIVHrGJsxHN",
  "tags": []
}
